*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;

}
.header{
    background-color: white;
    border-bottom: 1px solid#e0e0e0;
}
.header-container{
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display:flex;
    align-items: center;
}
.logo img {
    height: 100px;
    margin-right:10px;

}
 .logo span{
    font-weight: bold;
    font-size : 24px;
    color:#e6a62d
 }
 .nav-link ul {
    list-style: none;
    display:flex;
    padding: 0;
    margin: 10px;
    gap: 15px
    ;}

    
.nav-links ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 18px;
}

.nav-links ul li a:hover {
    color: #E6A62D;
}

h1 {
    text-align: center;
    padding: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: center 60px;
    background-color: #ffffff;
    border-radius: 10px;
    
}

.item1 {
    text-align: center;
    padding: right 20px;
    
    width: 35vh;
}
.item2 {
    text-align: center;
    padding: 10px;
    
    width: 35vh;
}

.item3 {
    text-align: center;
    padding: 10px;
   
    width: 35vh;
}
.item4 {
    text-align:center;
    padding: 10px;
    
    width: 30vh;
}
.item5 {
    text-align: center;
    padding: 10px;
    
    width: 30vh;
}
.item6 {
    text-align:center;
    padding: 10px;
   
    width: 30vh;
}

.item1-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.price-button,
.pri-button {
    display: block;
    margin: 10px auto 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.price-button {
    background-color: #E6A62D;
    color: #ffffff;
}

.pri-button {
    background-color: #021E37;
    color: #ffffff;
}

.footer {
    display: grid;
    padding: 20%;
}

.footer-container {
    background-color: #021E37;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.footer-container div h3 {
    color: #E6A62D;
    padding-top: 30px;
}

.footer-container div p {
    color: white;
    display: flex;
    

}

ul {
    color: white;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 300px;
    padding-top: 30px;
}

ul li {
    position: relative;
    list-style: none;
    padding: 10px 0;
    display: flex;
}

.footer-container ul li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: #E6A62D;
    transform: translateX(50%);
    display: flex;
}

.footer-li {
    color: white !important;
    text-decoration: none;
    
}

.footer-li:visited {
    color: white !important;
}

.footer-li:hover {
    color: #E6A62D !important;
}

/* ipad */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav-links ul {
        flex-direction: column;
        align-items: center;
    }

    .footer {
        padding: 10%;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .item {
        width: 50vh; 
    }
}
/** mobile skärm**/
@media (max-width: 500px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        height: 60px; 
    }

    .nav-links ul {
        margin: 0;
    }

    h1 {
        font-size: 15px; 
    }
    .Adoption-shop-kontakt-Om-oss {
        display:flex;
    }
}

