
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    
    color: white;
    
}
h1{
    text-align: center;
}

main {
    padding: 100px;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5%;
}

