* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

section,
p,
#submit,
li {
  font-family: 'Montserrat';
}

span,
h2,
h3 {
  font-family: 'Open Sans';
}

header {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 100px;
  margin-right: 10px;
}

.logo span {
  font-weight: bold;
  font-size: 24px;
  color: #e6a62d;
}

.nav-links ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 10px;
  gap: 15px;
}

.nav-links ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
}

.nav-links ul li a:hover {
  color: #e6a62d;
}

main {
  width: 100%;
}

.main-content {
  max-width: 80%;
  margin: auto;
}

h2 {
  text-align: center;
  margin: 60px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 500px));
  gap: 80px;
  margin-bottom: 100px;
  justify-content: center;
  grid-template-areas:
    "grid-box-1 grid-box-2"
    "grid-box-3 grid-box-4";
}

.grid-box-1 {
  grid-area: grid-box-1;
}

.grid-box-2 {
  grid-area: grid-box-2;
  align-self: center;
}

.grid-box-3 {
  grid-area: grid-box-3;
}

.grid-box-4 {
  grid-area: grid-box-4;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.content {
  padding: 0 30px 30px 30px;
}

p {
  line-height: 28px;
  margin: 0;
}

section {
  max-width: 500px;
  margin: auto;
  margin-bottom: 80px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
}

textarea {
  resize: none;
}

#submit {
  background-color: #e6a62d;
  color: white;
  border: none;
  font-weight: 600;
  padding: 10px;
  width: 100%;
}

#submit:hover {
  background-color: #05325a;
}

footer {
  width: 100%;
}

.footer-container {
  background-color: #021e37;
  min-height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
  flex-wrap: wrap;
}

.footer-container div h3 {
  color: #e6a62d;
}

.footer-container div p {
  color: white;
}

.grid-list ul {
  color: white;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 300px;
  padding: 0;
  flex-wrap: wrap;
}

.grid-list ul li {
  position: relative;
  list-style: none;
  padding: 10px 0;
}

.footer-container ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: #e6a62d;
  transform: translateX(50%);
}

.footer-li {
  text-decoration: none;
  color: white;
}

.footer-li:visited {
  color: inherit;
}

.footer-li:hover {
  color: #e6a62d;
}

/* SMALLER SCREEN */

@media screen and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 400px));
  }
}

/* TABLET */

@media screen and (max-width: 960px) {
  .grid-container {
    grid-template-columns: minmax(0, 700px);
    grid-template-areas:
      "grid-box-1"
      "grid-box-2"
      "grid-box-4"
      "grid-box-3";
  }

  .img-one,
  .img-two {
    max-width: 80%;
    display: block;
    margin: auto;
  }
}

/* MOBILE */

@media screen and (max-width: 768px) {
  .main-content {
    max-width: 95%;
  }

  .header-container {
    flex-direction: column;
    text-align: center;
  }

  .grid-container {
    grid-template-columns: minmax(0, 440px);
    margin-bottom: 100px;
    align-items: center;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .grid-list ul {
    flex-direction: column;
    align-items: center;
  }

  section {
    max-width: 100%;
  }

  form {
    width: 100%;
  }
}
