body {
    font-family: Arial, sans-serif; 
    margin: 10px;
    padding: 10px;
    background-color: white;
    color: black; 
}

header {
    background-color: white;
    color: #0f0e0e;
    padding: 40px;
    text-align: center;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;/
}

.content-section {
    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.text-content {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    margin-right: 20px; 
}

.text-content h2 {
    margin: 0; 
    font-family: 'Open Sans',sans-serif;
}

.text-content p {
    margin: 0; 
    font-family: 'Montserrat', sans-serif;
}
.content-section img {
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    align-self: flex-start; 
    box-shadow: 0 20px 17px rgba(0, 0, 0, 0.2); 
}

#Julia {
    justify-content: flex-end; 
}

#Ben {
    justify-content: flex-end; 
}

header {
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
}

.header-container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    margin-right: 10px;
}

.logo span {
    font-weight: bold;
    font-size: 24px;
    color: #E6A62D;
}


.nav-links ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 10px;
    gap: 15px;
}

.nav-links ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}

.nav-links ul li a:hover {
    color: #E6A62D;
}
