/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Hero Section Styling */
.hero {
    margin-top: 70px;
    height: 100%; /* Set fixed height */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero img {
    width: 100%;
    overflow: hidden; /* Prevent overflow scroll */
}


.hero-content {
    position: absolute; /* Overlay the text on the image */
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-left: 50%;
}

.hero-text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.hero-text button {
    background-color: #E6A62D;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: white
}


/* Adoption Section (Main Content) */
.adoption {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
}

.adoption h2 {
    font-size: 1.8rem;
    color: #E6A62D;
    margin-bottom: 10px;
}

.adoption p {
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: #2c3e50;
}

/* Grid for Cat Images */
.cat-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}



/* Standardized image dimensions */
.cat-item img {
    width: 100%; /* Full width within the grid column */
    max-width: 250px; /* Set maximum width to keep it reasonable */
    height: 350px; /* Set fixed height */
    object-fit: cover; /* Ensures the image fills the area without distortion */
    border-radius: 10px;
    transition: transform 0.3s;
}



.cat-item p {
    margin-top: 10px;
    font-size: 1rem;
    color: #34495e;
}